# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o elimminar objetos de forma sencilla.

In [8]:
L1 = [] #Lista vacía

In [9]:
L2 = ['a', 'e', 'i', 'o', 'u'] #Lista con valores inicales

In [10]:
L3 = [2,3,5,7,11] #Lista con valores enteros

In [11]:
L4 = ['a', 5, True, 'Gerardo'] #Lista heterogénea con varios tipos de datos diferentes.

In [12]:
L4

['a', 5, True, 'Gerardo']

In [30]:
L5 = [0]*10 #Crea una lista con 10 elementos cuyo valor es 0

In [31]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [45]:
L4[0] #El primer elemento de una lista se representa con el índice 0

'a'

In [46]:
L5[4] = 3.1415 #Modificamos el quinto elemento de la lista

In [47]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [48]:
L5[13] = 8

IndexError: list assignment index out of range

In [49]:
L4[0:2] #Accesos de posiciones múltiples, incluye la primera, más no la última.

['a', 5]

In [50]:
L5[1:4] = [1,2,3] #Cambiamos los valores

In [51]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [52]:
L5.append(8) #Anexa el valor de 8 en una entrada posterior a la última.

In [53]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [54]:
L5.remove(3) #Elimina la primera ocurrencia del objeto 3 de la lista.

In [55]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [56]:
L5.reverse() #Voltea el orden de la lista

In [57]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [58]:
L5.count(0) #Cuenta el número de veces que se repite un elemento dentro de una lista.

6

In [59]:
L5.index(2) #Nos regresa el índice de la posición en que se encuentra un elemento dentro de la lista.

7

In [60]:
len(L5) #Nos regresa el tamaño de la lista

10

In [2]:
L = [1,2,3,4,5,6]

In [3]:
L[1::2] #Sacar elementos en posición impar

[2, 4, 6]

In [4]:
L[::2] #Sacar elementos en posición par

[1, 3, 5]

In [5]:
L[-1] #Obtenemos el último elemento de la lista

6

In [6]:
8 in L #Para saber si un elemento pertenece a una lista

False

In [7]:
4 in L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [8]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [9]:
numero

6

In [11]:
for x in range(0,10): #range(10) = range(9,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [12]:
for c in "Gerardo Hernández":
    print(c)

G
e
r
a
r
d
o

H
e
r
n
á
n
d
e
z

In [13]:
notas = [8, 8, 9, 8, 7, 10, 10]
suma = 0 
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

8.571428571428571

El bucle **while** hasta que la condición boolena deja de ser cierta

In [15]:
count = 0 
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [17]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos):
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [19]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [23]:
numbp = []
for x in range(2,200):
    numbp.append(x)
    if x%2==0 and x!=2:
        numbp.remove(x)
print(numbp)

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [3]:
numpr = []
k = int(input("Ingrese un número natural mayor que 2: "))
for x in range(2,k): #Genero un intervalo entre 2 y el número capturado
    numpr.append(x) #Anexo todos los números generados a un vector
    n=2 #n será mi primer número primo (2)
    while n < 200: #Genero un contador con n
        for i in range(len(numpr)): #Genero un contador con i que corre solo, con la función for
            if numpr[i]%n==0 and numpr[i]!=n: #Hago la prueba 
                numpr.remove(numpr[i]) #Quito aquellos que no cumplan la prueba
        n +=1
print("Los números primos menores o iguales que el número introducido son: %s" %numpr)

Ingrese un número natural mayor que 2: 100
Los números primos menores o iguales que el número introducido son: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [1]:
n = int(input("Ingrese un numero: "))
lista = list(range(2, n+1))

i = 0
while(lista[i]*lista[i] <= n):
    # Mientras el cuadrado del elemento actual sea menor que el ultimo elemento
    for num in lista:
        if num <= lista[i]:
            # Cada iteracion del while hace que el for comience desde el primer elemento. 
            # Esto es para omitir los numeros primos ya encontrados
            continue
        elif num % lista[i] == 0:
            # Si un numero es divisible entre el elemento actual del while
            # de ser asi, entonces eliminarlo de la lista (esto altera la lista)
            lista.remove(num)
        else:
            # Si no es divisible, entonces omitirlo (no hacer nada)
            pass
    i += 1 # Incrementa al siguiente elemento de la lista (que ha sido alterada)
    print(i)
print(lista)

Ingrese un numero: 500
1
2
3
4
5
6
7
8
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

# Tupla
Es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [13]:
p1 = (1,)

In [14]:
p1

(1,)

In [15]:
p2 = (1,2,3,4)

In [16]:
p2

(1, 2, 3, 4)

In [17]:
p3 = (1, 2, 'c', 3.1415)

In [18]:
p3

(1, 2, 'c', 3.1415)

In [19]:
p3[2]

'c'

In [21]:
p3[0:2]

(1, 2)

In [22]:
a,b,c,d = p3

In [23]:
a

1

In [24]:
b

2

In [25]:
c

'c'

In [26]:
d

3.1415

In [27]:
l3 = list(p3) #Convierto una tupla en lista

In [28]:
l3

[1, 2, 'c', 3.1415]

In [32]:
p5 = tuple(L5) #Convierto una lista en una tupla

In [33]:
p5

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [34]:
"Hola qué tal estás".split(" ")

['Hola', 'qué', 'tal', 'estás']

In [43]:
colec = input("Introduce números separados por comas: ")
colec2 = colec.split(",")
print(colec2)
tup = tuple(colec2)
print(tup)

Introduce números separados por comas: 6,23,66,83,105,98
['6', '23', '66', '83', '105', '98']
('6', '23', '66', '83', '105', '98')

In [44]:
for n in tup:
    print(int(n)+1)

7
24
67
84
106
99

In [45]:
#Ejercicio de la media
sumas = 0
for n in tup:
    sumas +=int(n)
    
print(sumas/len(tup))

63.5

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves.

In [47]:
nombre = input("Introduce aquí tu nombre: ")
print("Hola %s"%nombre) #El símbolo "%" indica Python qué sustituir y en dónde

Introduce aquí tu nombre: Gerard
Hola Gerard

In [49]:
print("Estos son los números primos menores que 200: %s"%numpr)

Estos son los números primos menores que 200: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [50]:
print("Esto es un número: %d"%sumas) #Se usa la letra "d" cuando queremos agregar un valor numérico

Esto es un número: 381

In [52]:
media = sumas/len(tup)
print("Esto es un número decimal: %.2f"%media) #Se usa "f" para adicionar valores con decimales, su estructura puede variar a "%.f" y el número que vaya entre el punto y la f indicará el número de decimales que queremos mostrar.

Esto es un número decimal: 63.50

In [53]:
edad = {"Govea":22, 
        "Manny":20, 
        "Uriel":23, 
        "Gerardo":22
       }

In [55]:
edad["Govea"]

22

In [56]:
edad["Govea"] = 23

In [57]:
edad

{'Govea': 23, 'Manny': 20, 'Uriel': 23, 'Gerardo': 22}

In [58]:
edad["Govea"] = 22

In [59]:
edad

{'Govea': 22, 'Manny': 20, 'Uriel': 23, 'Gerardo': 22}

In [60]:
edad.keys()

dict_keys(['Govea', 'Manny', 'Uriel', 'Gerardo'])

In [61]:
edad.values()

dict_values([22, 20, 23, 22])

In [63]:
len(edad)

4

In [64]:
"Pepe" in edad

False

In [65]:
"Govea" in edad

True

In [66]:
"Manny" not in edad

False

In [67]:
del edad["Gerardo"]

In [68]:
edad

{'Govea': 22, 'Manny': 20, 'Uriel': 23}